.navbar {
    align-items: center;
    background-color: rgb(59, 83, 38); 
    
} 


.nav-text {
    padding : 0;
  
    margin: 0px;
    align-self: center;
    font-family: monospace;
} 

.container-fluid {
    align-items: center;
    justify-content: center;
    background-color: white;
}
